body {
    margin: 5%;
    font-family: Georgia, serif;
    background-color:black;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

header {
    color: white;
    font-size: 60px;
    text-align: center;
}

#header {
    font-size: 48px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: gray;
    font-size: 22px;
}

main {
    color: white;
    font-size: 20px;
}

img {
    width: 50%;
    height: 50%;
}

nav > a {
    height: 10%;
    width: 15%;
    color: gray;
    font-size: 20px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 5px solid gray;
    border-radius: 25px;
}

nav > a:hover {
    color: white;
    border: 5px solid white;
}

footer {
    margin-top: 5%;
}