body {
    font-family: Georgia, serif;
    background-color:black;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

header {
    color: white;
    font-size: 60px;
    text-align: center;
}

main {
    color: white;
    font-size: 20px;
}

footer {
    color: white;
    font-size: 20px;
}