body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131418;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    margin: 0;
    padding: 0;
}
/* I want the board to be #2D303A and the x's and o's to be #ffffff */
.game {
    width: 500px;
}
.playerTitles {
    display: flex;
    justify-content: space-between;
}
.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px 5px;
}
.square {
    display: flex;
    background-color: #2D303A;
    justify-content: center;
    font-size: 144px;
    color: #2D303A;
}
h2 {
    margin-bottom: -5%;
}
ul > li {
    margin-left: -3%;
    list-style: none;
    font-size: 18px;
    line-height: 25px;
}